body {
    background-color: #F1F1F1;
}

header {
    display: block;
    width: 100%;
    height: 55px;
    background-color: white;
}

header ul {
    list-style-type: none;
    display: inline-block;
    width: 50%;
    margin-left: 8%;
}

header ul li {
    display: block;
    float: left;
    margin-left: 12%;
}

li a:hover {
    color:#F4DC60;
}

li a{
    text-decoration: none;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    color: darkgrey;
}

#logo {
    display: block;
    float: left;
    width: 15%;
    height: 55px;
    margin: 0;
    margin-left: 3%;
    padding: 0;
    background-image: url("images/chillbeat.png");
    background-repeat: no-repeat;
    background-origin: border-box;
    background-position: left top;
    background-size: 100% 100%;
}

#video-player {
    display: block;
    width: 42%;
    height: 43%;
    float: right;
    margin: 22% 2% 2% 100%;
    position: fixed;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


#vplayer-header {
    height: 30px;
    line-height: 30px;
    color: #838383;
    background-color: whitesmoke;
    padding: 0 7px 0 7px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.vplayer-btn {
    width: 20px;
    margin: 5px 20px 0px 0px;
}


.vplayer-btn:hover {
    cursor: pointer;
}

#vplayer-title {
    vertical-align: middle;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    clear: both;
    *zoom: 1;
}


